In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [2]:
# Create city weather dataframe from csv file
city_weather_df = pd.read_csv('ML_city_weather.csv')

city_weather_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,0,Tiksi,71.69,128.87,4.80,91,64,8.01,RU,1586705950
1,1,Albany,42.60,-73.97,55.99,32,75,13.87,US,1586705950
2,2,Qixingtai,30.41,111.89,57.99,57,0,6.78,CN,1586705950
3,3,Tamsweg,47.13,13.81,71.60,19,20,8.05,AT,1586705950
4,4,Busselton,-33.65,115.33,66.00,62,96,11.01,AU,1586705906

In [4]:

city_weather_df.to_html("../output_data/ML_city_weather.html", index=True)
#strongest_pokemon_df.to_csv("output/pokemon_rankings.csv", index=True)

weatherTable = city_weather_df.to_html()

In [ ]:
import pandas as pd

# Read the csv file in
df = pd.read_csv('2016motogp.csv')

# Save to file
df.to_html('myTable.htm')

# Assign to string
htmTable = df.to_html()